<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Font-->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>
        <!--Bootstrap css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <!--Own css-->
        <link rel="stylesheet" href="resources/css/main.css" type='text/css'>

        <title>Zalando</title>


    </head>

    <body>

                <!-- ClothesView-->
                <div class="col-lg-9" id="dishView">
                    <div class="main" >
                        <!-- Clothes -->
                        <div class="dish">

                            <div class="loadingMsg">
                            <!-- Loaded with JavaScript-->
                            </div>

                            <div class="row">
                                
                                <div class="col-lg-5">
                                    <div class="ClothesPic" style="width: 200px;height: 400px;">
                                        <img src="/Users/lianganlin/Desktop/project/images/4.jpeg">
                                    </div>
                                </div>

                                <div class="col-lg-7">
                                    <h1 id="ClothesID"> WD000001</h1> <!-- clothes id -->

                                    <br/><br/>

                                    Description:<br/>
                                    <div class="ClothesDesc">
                                        This is the description of this clothes.
                                    </div>

                                    <br/><br/>

                                    Price:<br/>
                                    <div class="ClothesPrice">
                                        80 £
                                    </div>

                                    <br/><br/>

                                    Size:<br/>
                                    <div class="ClothesSize">
                                        XS
                                    </div>

                                    <br/><br/>

                                    Color:<br/>
                                    <div class="ClothesColor">
                                        Blue
                                    </div>
                                    
                                </div>

                            </div>


                            <div class="separator"></div>
                           

                            <div class="navButtons clearfix">
                                <button class="btn pull-left" id="backButton">Back to select clothes</button>
                                <button class="btn pull-right" id="addDishButton">Add to shopping cart</button>
                            </div>

                        </div>
                    </div>
                </div>
            <!-- ClothesView END-->
                
            </div>
        

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Bootstrap JavaScript, needed if you want for instance tabs, models, popovers etc. -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <!--jQuery used on own website-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        
    </body>

</html>
