<ng-include src="'/app/views/partials/Sidebar.html'" ng-controller="MainController"></ng-include>
<div class="col-lg-9" ng-controller="MainController"><!--id="selectClothesView"-->
    <div class="main">
        
        <div class="row">
            <!-- Search box -->
            <div class="col-lg-3">
                <div class="input-group">
                    <input ng-model="searchQuery" type="text" class="form-control" placeholder="Enter key words" >
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="searchForArticles(searchQuery,20)">Search</button>
                    </span>
                </div>
            </div>
            
            <!-- Dropdown menu -->
            
            
            <select class="form-control" style="width:auto;" ng-model="selectedCategory">
                <option ng-repeat="option in categories" value="{{option.key}}">{{option.name}}</option>
            </select>
            
        </div>
        
        <!-- Clothes list -->
        <div class="ClothesView">
            <ul>
                <li ng-repeat="article in searchResults">
                    <a ng-href="#!/article/{{ article.id }}">
                        <img ng-src="{{ article.media.images[0].mediumHdUrl }}">
                        <!--<br/><span> new arrival</span>-->
                        <p>{{ article.unit.price.formatted }}</p>
                    </a>
                </li>
                
                <!--<li>
                    <br/><br/>
                    <img src="/Users/lianganlin/Desktop/project/images/2.jpeg">
                    <br/><span> new arrival</span> 
                    <br/> <span> 60 £ </span>
                </li>
                
                <li>
                    <br/><br/>
                    <img src="/Users/lianganlin/Desktop/project/images/3.jpeg">
                    <br/><span> new arrival</span> 
                    <br/> <span> 70 £ </span>
                </li>
                
                <li>
                    <br/><br/>
                    <img src="/Users/lianganlin/Desktop/project/images/4.jpeg">
                    <br/><span> new arrival</span> 
                    <br/> <span> 80 £ </span>
                </li>   -->
            </ul>
            
        </div>
        
        <!-- Loading message -->
        <div class="loadingMsg">
            <!-- Loaded with JavaScript-->
        </div>
        
    </div>
</div>
