<ng-include src="'/app/views/partials/Sidebar.html'" ng-controller="MainController"></ng-include>
<div class="col-lg-9" ng-controller="MainController"><!--id="selectClothesView"-->
    <div class="main">
        
        <div class="row">
            <!-- Search box -->
            <div class="col-lg-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter key words" id="searchField">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Search</button>
                    </span>
                </div>
            </div>
            
            <!-- Dropdown menu -->
            <div class="btn-group">
                <button type="button" class="btn btn-default">Choose style</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li id="appetizerChoice"><a href="#">Casual</a></li>
                    <li id="maindishChoice"><a href="#">Sports</a></li>
                    <li id="dessertChoice"><a href="#">Dress</a></li>
                </ul>
            </div>                      
        </div>
        
        <!-- Loading message -->
        <div class="loadingMsg">
            <!-- Loaded with JavaScript-->
        </div>
        
    </div>
</div>
