
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Font-->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>
        <!--Bootstrap css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <!--Own css-->
        <link rel="stylesheet" href="css/zalando.css" type='text/css'>

        <title>Zalando</title>


    </head>

    <body>

            <!-- Header: LOGO & shoppong cart & favorite & personal page-->
            <div class="header">
                
                <div id="logo">
                <a href="index.html"><img src="https://corporate.zalando.com/sites/default/files/zalando_logo_53.png" alt="I am the logo :)" width="100.1" height="19.8" ></a>

                <p>Where you can be more beautiful</p>

                </div>

                <div id="function" style="text-align: right;">
                     <form>
                         <button class="glyphicon glyphicon-shopping-cart"></button> &nbsp;
                         <button class="glyphicon glyphicon-heart"></button> &nbsp;
                         <button class="glyphicon glyphicon-user" style="margin-right: 30px;"></button>
                     </form>
                </div>               
            </div>
            <!-- Hearder END-->
 
            <!-- Lastpage -->
            <div style="padding: 80px;text-align: center;">
                <h1>Thanks for your purchasing!</h1>
            </div>

            <br/><br/><br/>
                
                <form style="text-align: center;">
                    <button class="glyphicon glyphicon glyphicon-home"></button> 
                </form>        
                
            <!-- Lastpage END-->
  </div>
        

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Bootstrap JavaScript, needed if you want for instance tabs, models, popovers etc. -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <!--jQuery used on own website-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        
    </body>

</html>