
<!-- SideBar: checkbox -->
                <div class="col-lg-2" id="sideBarView" style="border-right: 1px solid #5C5C5C;" ng-controller="MainController">
                    <div class="aside" style="text-align: left;">
                        
                        
                        <div ng-controller="MainController">
                          <div ng-repeat="filter in filters">
                              <p>{{filter.name}}</p>
                              <div ng-repeat="value in filter.values">
                                  <label>
                                    <input type="checkbox" ng-model="value.selected"/>
                                      {{value.name}}
                                  </label><br/>
                              </div>
                          </div>
                      </div>
                   
                   <!--Color:
                   <br/>
                   <form style="line-height: 20px;">
                       <input type="checkbox" name="" value=""> Black<br/>
                       <input type="checkbox" name="" value=""> White<br/>
                       <input type="checkbox" name="" value=""> Gray<br/>
                       <input type="checkbox" name="" value=""> Blue<br/>
                       <input type="checkbox" name="" value=""> Red<br/>
                       <input type="checkbox" name="" value=""> Multicolored<br/>

                   </form>

                   <br/><br/>

                   Price:
                   <br/>
                   <form style="text-align: left;line-height: 20px;">
                       <input type="checkbox" name="" value=""> < 15 £<br/>
                       <input type="checkbox" name="" value=""> 15 £-50 £<br/>
                       <input type="checkbox" name="" value=""> 50 £-100 £<br/>
                       <input type="checkbox" name="" value=""> 100 £-500 £<br/>
                       <input type="checkbox" name="" value=""> > 500 £<br/>
                   </form>

                   <br/><br/>

                   Size:
                   <br/>
                   <form style="text-align: left;line-height: 20px;">
                       <input type="checkbox" name="" value=""> XS<br/>
                       <input type="checkbox" name="" value=""> S<br/>
                       <input type="checkbox" name="" value=""> M<br/>
                       <input type="checkbox" name="" value=""> L<br/>
                       <input type="checkbox" name="" value=""> XL<br/>
                   </form>-->

                    </div>
                </div>
                <!-- Sidebar END-->