<!DOCTYPE html>
<!-- Notice the ng-app Angular directive. This tells Angular where the application starts and also
which module to associate the app with. In app.js we create the "dinnerPlanner" module. -->
<html lang="en" ng-app="shoppingWebsite">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zarando</title>
      
    <!--Font-->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>

    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->

    <!-- jQuery -->
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <!-- Bootstrap JavaScript, needed if you want for instance tabs, models, popovers etc. -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Angular JavaScript including routing and resource modules  -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-cookies.js"></script>
    
    <link rel="stylesheet" href="/app/resources/css/main.css" />
    
    <!-- The application JavaScript code -->
    <script src="/app/app.js"></script>
    <script src="/app/models/shoppingService.js"></script>
    <script src="/app/controllers/mainController.js"></script>


  </head>
  <body>
      <!-- Header: LOGO & shoppong cart & favorite & personal page-->
            <div class="header">
                
                <div id="logo">
                <a ng-href="#!/home"><img src="https://corporate.zalando.com/sites/default/files/zalando_logo_53.png" alt="I am the logo :)" width="100.1" height="19.8" ></a>

                <p>Where you can be more beautiful</p>

                </div>

                <div id="function" style="text-align: right;">
                     <form>
                         <button class="glyphicon glyphicon-shopping-cart"></button> &nbsp;
                         <button class="glyphicon glyphicon-heart"></button> &nbsp;
                         <button class="glyphicon glyphicon-user" style="margin-right: 30px;"></button>
                     </form>
                </div>               
            </div>
        <!-- Hearder END-->
               
            
      
      
      
      
      
    <!-- Here in index.html you should put only the layout that is shared among all the screens (e.g. header
    ,footer, etc.). The rest of the view specific layout will go into the html partials (check partials folder) -->

    <!-- ng-view Angular directive is where the partials will be loaded. app.js configures the $routingProvider
    where you specify which partial should be loaded when. -->
      
    <div ng-view></div>
      

  </body>
</html>
